#main-component {
   position: fixed;
   left: 0;
   text-align: center;
   width: 10;
}

#hotline-component {
   position: fixed;
   right: 0;
   background-color: #cfcdcc;
   top: 0px;
   height: 100%;
   width: 10%;
   z-index: -1;
}

#hotline-text {
   padding-top: ;
   bottom: 10px;
}

.hotline-titles {
   font-size: 10;
}

.hotline-numbers {
   font-size: 3;
}
#navbar-button {
   width: 200px;
   height: 200px;
   background-color: #7d696c;
   outline-color: #7a0f21;
   color: white;
}
#navbar-button-survey {
   background-color: #7d696c;
   outline-color: #7a0f21;
   color: white;
}